body {
	background-image: url('/images/dark-stone.jpg');
	background-color: #181818;
	color: #fff;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	color: #fff;
}
a {
	color: #df6500;
}
.menu li {
	color: #df6500;
}
.site-header {
	border-bottom: none;
}
.site-footer {
	border-top: none;
	background: rgba(16, 16, 16, 0.75);
}
button, input[type="submit"], input[type="button"], input[type="reset"], .btn {
	background-color: #df6500;
	color: black;
	border: 2px solid black;
}
.bg-gray {
	background: rgba(16, 16, 16, 0.75);
}
.card {
	background: rgba(16, 16, 16, 0.75);
	border: 2px solid black;
}
.section--team .cell {
	max-width: 100%;
}

.featured-image {
	@media (min-width: 1000px) {
		margin-right: 2em;
	}
	@media (max-width: 999px) {
		margin: 1em;
	} 
}